<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="tbaGrammar.Pushed" value="True" />
		<add key="tbaGrammar.Enabled" value="True" />
		<add key="tbaGrammar.ImageIndex" value="0" />
		<add key="tbaGrammar.PartialPush" value="False" />
		<add key="tbaGrammar.Text" value="" />
		<add key="tbaGrammar.ToolTipText" value="Tip on Khmer Grammar" />
		<add key="tbaGrammar.Visible" value="True" />
	</appSettings>
</configuration>